.menu-brand {
  font-size: 18;
}

.menu-image {
  padding-right: 10px;
}

.ui#content{
  padding-top: 60px;
}

.no-gutter.grid {
  margin: 0;
}
.no-gutter.grid .column {
  padding: 0;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.sidebar-column {
  padding-left: 0;
}